@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Indie+Flower&display=swap');

  body{
    background-color: #8B94E3;
  }
p{
background-color: white;
background-color: rgba(255,255,255,0.5); /*white with a 50% capactiy*/
}

h1{
color: darkblue;
font-family: 'Dancing Script', cursive;
}

h3{
color:white;
font-family: 'Dancing Script', cursive;
font-weight: 700;*/ Bolder dancing script */

}

h3 em{
font-family: sans-serif;
color: black;
text-decoration: underline;
}

li{
font-size: 20px;
list-style: circle
}

ul li{
none;
}

#centerName{
text-align: center;
}

.bolder{
font-weight: bolder;
font-size: 20px;
}

a{
color:white;
text-decoration: none;
}
a:visited{
color:aqua;
}
a:hover{
background-color:brown;
font-style: italic;
}
